div {
  width: 200px;
  padding: 50px;
  border: 5px solid black;
  min-height: 400px;
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
}

#third-div {
  min-height: 10px;
  background-color: green;
}

#fourth-div {

  width: 200px;
  height: 600px;
  background-color: orange;
  

}

p {
  background-color: #7fdbff;
}
