/* PHASE 11: Icons */
[class*="icon-"] {
  background-image: url("https://assets.aaonline.io/fullstack/html-css/micro-projects/css-friends/docs/images/sprite.png");
  background-size: 25px 25px;
  display: inline-block;
  width: 25px;
  height: 0px;
  overflow: hidden;
  padding-top: 25px;
}



