.sections_nav {
  display: flex;
  align-items: center;
}

.sections_nav a:hover {
  background: $lightest-gray;
}

.sections_nav #All:hover {
  text-decoration: underline;
}
.sections_nav #All {
  text-transform: uppercase;
  font-size: 10px;
}

.section_nav li {
  margin: 5px;
}

.section_nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $lightest-gray;
}
