<ul class="grid cf">
  <li class="col col-1-5 hr-bottom">
    <a class="link">Launching the New React/Redux Curriculum</a>
    <div class="author">By APP ACADEMY INSTRUCTIONAL TEAM</div>
    <p>
    
    <ul class="list-items">
      <li>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</li>

      <li>The whole state of your app is stored in an object tree inside a single store.
      The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</li>
    </ul>
    
    </p>
    <a class="comment link">1738 Comments</a>
  </li>
  <li class="col col-1-2 middle">  
    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe></p>
    <p>
    Warning: This video will make you want to change your career
    </p>

    <hr class="hr-top">
    
    <a class="link">Where Are They Now?</a>
    <div class="author">By APP ACADEMY ALUMNI</div>
    <p>
    First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.
    </p>
    
    <hr class="hr-top">
    
    <a class="link">Cat Academy</a>
    <div class="author">By APP ACADEMY DIRECTOR OF PRODUCTS</div>
    <p>
    App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.
    </p>
  </li>
  <li class="col col-3-10">
    <h2 class="center">The Opinion Pages</h2>
  </li>
  <li class="col col-3-20">
    <div class="opinion-sub">Op-Ed Contributor</div>
    <div class="op-ed-title"><a class="link">Will Javascript ever be as easy as Ruby?</a></div>

    <p>
      Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.
    </p>
    <ul class="list-items opinions-list">
      <li><a class="link">Torvalds: When I Was Almost Wrong</a></li>
      <li><a class="link">Knuth: Art of Programming</a></li>
      <li><a class="link">Lovelace: The First Algorithm</a></li>
      <li><a class="link">Hopper: The First Bug</a></li>
      <li><a class="link">Thompson: Go C Unix</a></li>
      <li><a class="link">Carmack: My Virtual Reality</a></li>
      <li><a class="link">Stallman: Free Speech Not Free Coffee</a></li>
    </ul>
  <li class="col col-3-20">
    <div class="opinion-sub">Operations</div>
    <div class="op-ed-title"><a class="link">App Academy New York Has A Brand New Office</a></div>
    <div class="author">By NY OPERATIONS</div>
    <p>
    The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.
    </p>
    <div class="thumbnail">
      <img class="NY-Office" src="assets/new_office.jpg" alt="New Office">
    </div>
    <h2>Opinion Today, in your Inbox</h2>
    <p>
    Each weekday, get though-provoking commentary from our columnists and contributors.
    </p>   
  </li> 
  <li class="col col-3-10">
    <div class="sign-up-main">
      <input type="text" placeholder="Get the Opinion newsletter by email">
      <button value="submit">Sign Up</button>
    </div>
    <p class="small-text">
    We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.
    </p>  
  </li>
</ul>