<h1>Sign in</h1>
<form action=<%= session_url %> method="POST">
  <p>
    <label for="new-email">Email</label>
    <input id="new-email" type="text" name="user[email]">
  </p>

  <p>
    <label for="new-password">Password</label>
    <input id="new-password" type="password" name="user[password]">
  </p>

  <input type="submit">
</form>