/* PHASE 7: Online */
.profile-picture > .online {
  color: white;
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
  background: #0c0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px 30px;
  transform: rotate(-45deg) translateX(-25%);
  box-shadow: 0 1px 0 0 #070;
}