.sections-nav {
  display: flex;
  align-items: center;
}

.sections-nav a:hover {
  background: $lightest-gray;
}

.sections-nav #All:hover {
  text-decoration: underline;
}
.sections-nav #All {
  text-transform: uppercase;
  font-size: 10px;
}

.section-nav li {
  margin: 5px;
}

.section-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $lightest-gray;
}
