.tile {
  border-style: outset;
  height: 25px;
  width: 25px;
  background: lightgrey;
  text-align: center;
  vertical-align: middle;
}

.rows{
  display: flex; 
  justify-content: center;
}

.bombed {
  color: red;
}

.revealed {
  border-style: inset;
  color: black;
}

.unrevealed {
  /* border-style: outset;  */
}

.flagged {
  color: red;
}

.modal-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0; 
    z-index: 2;
    background: rgba(0, 0, 0, 0.3); 
}

.modal-form {
    position: absolute;
    z-index: 3;
    width: 150px; 
    padding: 20px;
    height: 50px;
    background-color: white;
    border-radius: 5px; 
    top: 100px; 
    border: 1px solid black;
    text-align: center; 
    left: 50%;
}

.button {

}

.hidden {
  display: none; 
}